# Assignment-1

Q1-1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1)* 
2)'hello'
3)87.8
4)- 
5)/ 
6)+
7)6 
                #SOLUTION OF Q1:

    EXPRESSION:
    1) *
    2)-
    3)/
    4)+

    VALUES:
    1) 'hello'
    2) 87.8
    3)6

Q2 What is the difference between string and variable?

Answer:

so basically in simple words we can say that variable is a store of information and string is a type of information that can be stored inside the variable.String is always enclosed in double or single quote. for example

x=10:
in this case x is a variable and we are storing a integer value in it , and as i already explained that variable is a store house it can store any kind of data, in this case it is storing a integer type of data.

x='Anshuman':
in this case x is a varible and it is storing a data which is string .

Q3. Describe three different data types.

Answer:

Datatype is basically the type of data that we are storing in variable for eg: integer,float,string etc.
There are many datatype but here only three are explained
1)         ---PYTHON NUMBERS--

     Integers, floating point numbers and complex numbers fall under Python numbers category.
     a=5--> This is integer data type
     b=6.8--> This is floating datatype
     c=6+7j--> This is complex data type
 
2)            ---Python List---
    List is an ordered sequence of items. It is one of the most used datatype in Python and is very       flexible. All the items in a list do not need to be of the same type. All items are enclosed         withon square brackets.
    
    lst=[1,2,3,4.5,"hello",6+7j]
    
    We can use the slicing operator [ ] to extract an item or a range of items from a list.
    
3)       ----Python Tuple----
    Tuple is an ordered sequence of items same as a list. The only difference is that tuples are         immutable. Tuples once created cannot be modified.
    
    Tuples are used to write-protect data and are usually faster than lists as they cannot change         dynamically.

In [17]:
'Python Numbers'
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?",type(a))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? <class 'complex'>

In [18]:
'Python List'
a = [1, 4.67, 'Anshuman',5+6j]
print(type(a))

<class 'list'>

In [20]:
'Python Tuple'
t=(4,"Anshuman",3.45)
print(type(t))

<class 'tuple'>

Q4) What is an expression made up of? What do all expressions do?

Answer:

Expression is a legal combination of symbols(variable,constant and operator) that represent a value.It should have atleast one operands and can have one or more operator.

Operand is the value on which operator is applied.these operator use constant or variable to form expression.
for eg:
A*b+c-6  : This is a expression which have 4 operands(A,b,c,6) and 3 operator(*,+,-)

As i already said that it must be a legal combination otherwise it will not give a value ,and that is not an expression. Some of the illigal combinations are:
a+,b-,<y++ etc.

what does expression do?
 -->As i already said that the function of the expression is to evaluate a value

Q5) This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer:

                        -----Expression:----
1) it execute somerthing.
2)Execution of a statement may or may not produces or displays a result value, it only does whatever    the statement says.
3)Every statement can be an expression.

                        ----Statement------

1)An expression evaluates to a value
2)Evaluation of an expression always Produces or returns a result value.
3)Every expression canâ€™t be a statement.

In [1]:
"Q6 After running the following code, what does the variable bacon contain?"
bacon = 22
print(bacon + 1)

23

so in the above problem when we run the code the value of bacon will be incremented by 1 and it will give 23 as output.
To display the output on the screen we will have to use print statement. until and unless we will not use print statement it will not show output although the value is incremented internally.

In [3]:
"Q7). What should the values of the following two terms be?"
print('spam' + 'spamspam')
print('spam' * 3)

spamspamspam
spamspamspam

These both statement will give same result because in first case it will concatinate both the string and in second case it will repeat the string three times.

Q8) Why is eggs a valid variable name while 100 is invalid?
Answer:
let us take an example:
suppose 100 is a valid variable name then 
a=100;
100=200
c=a*2
so what will be the answer is it 200 or 400 ? so in python or in any programming language there is certain rule to declare a variable. By only using 100 we will cofuses our compiler that weather it is a value or a variable . so thats why we cannot use 100 as a variable name. tjis is not  the case with (eggs) as a variable name because
eggs=600--> this means we are storing value 100 in  memory an eggs is a name which is pointing to it

Q9)  What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer:
we can convert one data type into another by using a method called typecasting.ut not all datatype can be converted from one form to another like we cannot convert  a string datatype into integer.
 we have certain inbuilt function for typecasting
 
1)int()--> This will convert a number which is in form of string back to integer.
2)float()--> This will convert a integer into floating point number.
3)str()--> this will convert numeric or floating point number into string

coading is shown below

In [9]:
'Using str() function'
a=1234
print(type(a)) # firstly datatype is integer
b=str(a) # This function will convert integer to string
print(b)
print(type(b)) # checking datatype of b

<class 'int'>
1234
<class 'str'>

In [10]:
'using int() function'
x="2345"
print(type(x)) # firstly datatype is string
y=int(a) # This function will convert string to integer
print(y)
print(type(y)) # checking datatype of y

<class 'str'>
1234
<class 'int'>

In [11]:
'Using float function'
d=2345
print(type(d)) # firstly datatype is integer
p=float(d) # This function will convert integer to float
print(p)
print(type(p)) # checking datatype of p

<class 'int'>
2345.0
<class 'float'>

In [13]:
s="Anshuman"
print(type(s))
print(int(s)) # this will show error because u cannot convert  string to integer

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Anshuman'

Q10) Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Answer:

so this expression will cause an error because ayou cannot concatinate string and integer.To fix this we  have to first typecast the integer value into string then only concatination is possible. It is shown below with the help of code.

In [15]:
'I have eaten ' + str(99) + ' burritos.'
# i have typecasted the value 99 into string by using str() function and now it will concatinate .

'I have eaten 99 burritos.'