Q1.What are the two values of the Boolean data type? How do you write them?

 Answers:
Boolian datatype is a datatype in python which give only two values either True or false.Generally it is used to check the truth of expression 
for eg:

In [7]:
2==9 # this statement is false so it will be evaluated as False

False

In [6]:
1==1# this statement is true so it will be evaluated as True

True

Q2. What are the three different types of Boolean operators?

1) ----AND OPERATOR----
it is the operator which is evaluated true if both the condition is true, and evaluated false if even one of the condition is false
for eg->( See code)

2)-----OR OPERATOR------
it is the operator which evaluate true of any one of the condition is true,and evaluated false if both of the condition is false
for eg->( see code)

3)----NOT OPERATOR-----
it is the operator which is evaluated true if the statement is false and vice versa

In [1]:
# And operator
x=6
y=7
x>y and y>x ## This will be evaluated false because one of this expression is false

False

In [2]:
# or operator
x=6
y=7
x>y or y>x ## This is evaluated true because any one of the given condition is true

True

In [5]:
# Not operator(!)
x=6
y=7
x != y # this is a false statement thats why it is evaluted as true

True

In [6]:
l=[1,2,3,4,5,6]
7 not in l

True

Q3) Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

Solution:
 X,Y represent the condition
 
 -------AND TRUTH TABLE--------
 
 X      operator           Y             RESULT
 
True       and            True            True
True	   and	          False	          False
False	   and 	          True	          False
False	   and	          False	          False


--------OR TRUTH TABLE------


 X      operator           Y             RESULT
 
True       or             True            True
True	   or	          False	          True
False	   or 	          True	          True
False	   or	          False	          False


------NOT TRUTH TABLE---------

X             RESULT

TRUE          FALSE  ( This basically means-> not true)
FALSE         TRUE   ( This basically means-> not false)

Q4. What are the values of the following expressions?
1) (5 > 4) and (3 == 5)
2) not (5 > 4)
3) (5 > 4) or (3 == 5)
4) not ((5 > 4) or (3 == 5))
5) (True and True) and (True == False)
6) (not False) or (not True)

In [11]:
# solution Q4
(5 > 4) and (3 == 5) 
#True and false = false

False

In [8]:
not (5 > 4) 
#not(True)=False

False

In [9]:
(5 > 4) or (3 == 5)
#true or true=true

True

In [12]:
not ((5 > 4) or (3 == 5))
#not(true or false)
#not(true)=false

False

In [13]:
(True and True) and (True == False)
# self explanatory

False

In [15]:
(not False) or (not True)
#true of false=true

True

Q6)  What are the six comparison operators?

Python has six comparison operators, which are as follows:

1)Less than ( < )
2)Less than or equal to (<=)
3)Greater than (>)
4)Greater than or equal to (>=)
5)Equal to ( == )
6)Not equal to ( != )

The examples are shown below with the help of code

In [24]:
# 1) Less than ( < )
print(4<5) 
print(80<9)
print( 'apple' < 'orange') 
"""The expression 'apple' < 'orange' returns True because 
the letter a in apple is before the letter o in orange."""

True
False
True

In [22]:
# 2)Less than or equal to (<=)
print(45<=56)
""" This will be evaluated true because internally this is calling boolian (or) operator and checking two condition
(45<56) or (45==56) as atleast one condition is true thats why it is evaluated as true"""
print(67<=43)
print("Anshuman"<"eye")

True
False
True

In [27]:
# 3)Greater than (>)
print(20>20)
print("Anshuman">"eye")
print(40>39)

False
False
True

In [28]:
#4)Greater than or equal to (>=)
print(45>=45)
""" This will be evaluated true because internally this is calling boolian (or) operator and checking two condition
(45>45) or (45==45) as atleast one condition is true thats why it is evaluated as true"""

True

In [30]:
#5)Equal to ( == )
print(67==67) 
print(45==98)
print("Anshuman"==45)
print("Anshuman"=="Anshuman")
print("Anshuman"=="anshuman")

True
False
False
True
False

In [31]:
#6)Not equal to ( != )
print(5!=6)
""" Internally it is  calling not function for this condition not(5==6)--> this gives not(false)--> and 
this gives the result as true"""

True

#Q7. Identify the three blocks in this code:
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
        print('ham')
        print('spam')
        print('spam')
        
solution:
This code has three blocks of condition vary.
1) first condition is checking that weather spam is equal to 10 or not.
2) second condition is checking that weather spam is greater then 5 or not.
3) in the third block it is saying that ok! if both the above condition fails then execute the last block that is else block.

In [33]:
spam = 0
if spam == 10: # checking 1st condition
    print('eggs')
if spam > 5: # checking 2nd condition
    print('bacon')
else:       # else block which will be executed if both the condition fails
        print('ham')
        print('spam')
        print('spam')

ham
spam
spam

Q8) Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, 
 and prints Greetings! if anything else is stored in spam.

In [36]:
# soltion Q8
spam=int(input())
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

6
Greetings!

Q9)9.If your programme is stuck in an endless loop, what keys youâ€™ll press?
solution:
ctrl+c

Q10) How can you tell the difference between break and continue?
solution:

--break--
1) break statement terminate the next iteration of the loop
--continue--
1) it terminate only the current iteration of loop

[examples are shown with the help of code]

In [1]:
# break statement
for num in range(7):
    if num==5:
        break
    else:
        print(num)
        
""" This programm will stop when num reaches 5 because break statement will not let 
all the iteration to complete . It will break the loop then and there"""

0
1
2
3
4

In [2]:
# continue statement
for num in range(7):
    if num==5:
        continue
    else:
        print(num)
        
""" In this case only 5 will not be printed because as soon as control reaches 5 it will execute 
continue statement which stops that iteration only . ao thats why 5 will not be printed"""

0
1
2
3
4
6

Q11) In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
solution:

range() is a generator function which basically create a dataset,it include 3 arguments
range(start,end,jump).start and jump is optional and their value is set to 0 and 1 respectivly.
 
# range(10)-->  this function  create  a dataset from 0 to 10,except 10(because in this function upper bound is not considered).By default its starting point is taken as 0.

# range(0,10)--> in this , start point is also mentioned .In this case also it will create a dataset  from 0 to 10.

# range(0,10,1)--> in this case rest is same but the jump is set to 1, this basically means that we will create a number from 1 to 10  and take  a jump of 1.

[examples are shown below in working code]

In [4]:
# range(10)
for i in range(10):
    print(i) # printing all the data from 0 to 10 ,except 10.

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0,10):
    print(i) 
## there will be no diffrence in above code and this code because by default starting point is set to 1

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(0,10,1):
    print(i)
# this code also have no diffrent output because by defaulkt it is taking jump as 1

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(2,30,2):
    print(i)
# in this case starting point is 2  and it is taking jump odf 2 you can clearly see that.

2
4
6
8
10
12
14
16
18
20
22
24
26
28

Q12) Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [9]:
# programm to print 1 to 10 by using for loop
for i in range(1,11): # creating dataset from 1 to 10 
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# programm to print 1 to 10 by using while loop
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

Q13) If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

solution:
import spam
spam.bacon()