question 1)
Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as <WORKER_NAME>.

Answer::
select "FIRST_NAME" as WORKER_NAME from worker

Question 2)
Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

Answer::
        
        
select distinct DEPARTMENT from worker

In [ ]:
QUESTION 3)
Write an SQL query to show the last 5 record from a table.

ANSWER:
    
suppose table name=carbon_dataset
    
(select * from carbon_dataset order by id desc limit 5)----->> This will give last 5 records but in decending order